---
name: Create release and changelog

on:
  workflow_call:
    inputs:
      version:
        description: 'Version to release'
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Parse tags
        id: parse_tags
        run: |
          git fetch -a
          echo "tag_count=$(git tag -l | wc -l)" >> $GITHUB_OUTPUT

      - name: Update CHANGELOG
        continue-on-error: ${{ steps.parse_tags.outputs.tag_count == '1' }}
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ inputs.version }}

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: false
          makeLatest: true
          name: ${{ inputs.version }}
          body: ${{ steps.changelog.outputs.changes }}
          token: ${{ github.token }}

      - name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: main
          commit_message: 'docs: update CHANGELOG.md for ${{ inputs.version }}'
          file_pattern: CHANGELOG.md
